
  /* GLOBAL */

  @font-face {
    font-family: regular;
    src: url(./fonts/Lalezar/Lalezar-Regular.ttf);
  }
  
  body {
    font-family: regular;
  }
 
  .paragraphFontStyle {
    font-size: 25px;
  }

  .center {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }


 /* NAVBAR  */
  .navbar-custom {
      background-color: #99CC66;
      color:#ffffff;
      border-radius:0;
  }
  
  .navbar-custom .navbar-nav > li > a {
      color:#fff;
  }
  .navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color:#66FFFF;
  }
  .navbar-custom .navbar-brand {
      color:#eeeeee;
  }

  .navbar {
    opacity: 0;
    visibility:"hidden";
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
  }
  



  /* SECTION1 */
  
#section1 .bcg {
  height: 100%;
    width: 100%;
}

#section1 .bcg img{
  height: 100%;
    width: 100%;
}

.name_container {
  position: absolute;
    top: 20%;
    left: 45%;
    width: 10%;
}

.name_container .first_name, .name_container .profession{
  position: relative;
  left: 300px;
}

.name_container .last_name{
  position: relative;
  right: 300px;
}



.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}





  /* SECTION2 */

  #section2 {
    margin: 0 10rem;
    background:none;
    background-size: 100% auto;
  }
  
  #section2 .row{ 
    display: flex;
  }

  #section2 .panel-intro-container {
      display: flex;
      align-items: center;
  }

/* SECTION3 */
  #section3 {
    margin: 0 10rem;
    background: none;
    background-size: 100% auto;
    padding-bottom: 5%;
  }
    
  #section3 .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    
  #section3 .fab{
    padding: 3rem;
  }

  /* SECTION4 */
  #section4 {
    margin: 0 10rem;
    background:none;
    background-size: 100% auto;
    padding-top: 5%;
  }


  #section4 .project_img_container {
    height: 50%;
    overflow: hidden;
  }
  #section5 {
    background:none;
    background-size: 100% auto;
    padding-top: 5%;
  }
  
  #mainPage {
    /* background: url('http://wallpoper.com/images/00/42/81/18/landscapes-minimalistic_00428118.jpg') repeat center fixed; */
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .panel-transparent {
          background: none;
      }
  
      .panel-transparent .panel-heading{
          background: rgba(122, 130, 136, 0.2)!important;
      }
  
      .panel-transparent .panel-body{
          background: rgba(46, 51, 56, 0.2)!important;
      }
  
  .thumbnail {
     background: rgba(46, 51, 56, 0.2)!important;
     height: 400px;
  }
  
  .thumbnail a :hover {
    opacity: 0.3;
  }